.staffCardBorder{
    -fx-background-color: #e8f0fe;
    -fx-border-color: #1a73e8;
    -fx-border-radius: 8;
}
.staffCardImageColor{
       -fx-fill : linear-gradient(to right, #667eea, #764ba2);
.
.staffCardTextColor{
    -fx-fill: Black;
}